:root{
    --background-color: black;
    --line-color: greenyellow;
    --text-color: greenyellow;
    --text-color-dark: black;
    --message-text-color: red;
    --border-color: greenyellow;
    --input-field-color: black;
    --box-shadow-color: rgba(255, 255, 255, 0.13);
    --button-background-color: black;
    --container-background-color: black;
    --hover-color: greenyellow;



    --container-size: 450px;
    --cell-size: 150px;

    /* font */
    --font-family: 'Arcade Interlaced', sans-serif;
    --button-font-family: 'ArcadeClassic', sans-serif;
    --messages-font-family: 'Arcade', arial;
    --font-size-h1: 30px;
    --font-size-h2: 12px;
    --font-size-button: 18px;
    --font-size-input-field: 15px;

    /* border */
    --container-border: dashed 1.5px greenyellow;
    --button-border: dashed 1.5px greenyellow;
    --button-border-hover: 1.5px dashed black;
    --border-style: dashed;

    /* images */
    --x-icon-red-small: url(../assets/x-icon-red-50.png);
    --x-icon-red: url(../assets/x-icon-red-100.png); 

    --x-icon-small: url(../assets/x-icon-50.png);
    --o-icon-small: url(../assets/o-icon-50.png); 
    --x-icon: url(../assets/x-icon-100.png);
    --o-icon: url(../assets/o-icon-100.png);   
    --img: url(../assets/img.png);
    }
        
    
    *>*{
        font-family: 'Arcade Interlaced', sans-serif;
        /* font-size: var(--font-size-h2); */
    }
    

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.headline1{
        height: auto;
        width: auto;
        font-size: var(--font-size-h1);
        color: var(--text-color);
        text-align: center;
        margin-left:auto;
        margin-right: auto;
}

.headline2{
    font-size: var(--font-size-h2);
    color: var(--text-color);
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.game-container{
    height: var(--container-size);
    width: var(--container-size);
}

.game-board{
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin-left: -10%;
}

.game-container .cell{
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: var(--backsground-color);
    border: 1.5px dashed var(--line-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-board .cell:hover{
    background: var(--o-icon-small) no-repeat;
    background-color: var(--cell-background-color);
    opacity: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 120px; */
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    margin-top: 15px;
    margin-right: 3px;
    border: var(--button-border);
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    font-size: 18px;
    transition: all .2s;
}





/* fills the selected div/cell of game-board with icon */
.game-container .game-board .cell > button.selected{ 
    background: var(--o-icon-small) no-repeat;
    background-color: var(--cell-background-color);
    background-size: cover;
}


/* button animation */
.btn:link,

.btn:hover{
    background-color: var(--hover-color);
    color: var(--text-color-dark);
    border: var(--button-border-hover);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.24);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* button animation */
/* ---------------------------------------------------------------- */