<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='styles/main.css')}}">
        <!-- <link href="../static/styles/main.css" rel="stylesheet"> -->
    </head>
        <body>
            <div class="credentials">
                <p class="headline1">Tic Tac Toe</p>
                <p class="headline2">TEXT-TEXT-TEXT-TEXT-TEXT </p>
                <div class="message"> 
                    {{text | safe}} 
                </div>
                <form action="{{url_for("success")}}" method="POST">
                <!-- <form action="{{url_for("game")}}" method="POST"></form> -->
                <input class="first_name" title="Enter name" placeholder="Name" type="text" name="first_name" required> <br>
                <input class="last_name" title="Enter surname" placeholder="Surname" type="text" name="last_name" required> <br>
                <input class="email" title="Enter email to receive your score" placeholder="Email" type="email" name="email_name" required> <br>
                <input class="pwd" title="Enter password" placeholder="Password" type="password" name="pwd_data" required> <br>
                <input class="gender" title="gender" placeholder="Gender" type="text" name="gender" required> <br>
                <input class="age" title="age" placeholder="Age" type="number" name="age" required> <br>
                <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </body>
</html>